        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <!--================login Area =================-->
        <section class="login_area p_100">
            <div class="container">
                <div class="login_inner">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="login_title">
                                <h2>log in your account</h2>
                                <p>Log in to your account to buy great musical instruments.</p>
                            </div>
                            <form class="login_form row" action="/admin/login" method="POST">
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="text" name="username" placeholder="User Name">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                                
                                <div class="col-lg-12 form-group">
                                    <button type="submit" value="submit" class="btn update_btn form-control">Login</button>
                                </div>
                            </form>
                            <h6 class="mt-4 text-center">Don't have account? Contact admin to receive one!</h6>

                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End login Area =================-->
