<link href="vendors/jquery-ui/jquery-ui.css" rel="stylesheet">
    <div class="container">
        <div class="single_c_title">
            <h2>Account List</h2>
        </div>    
          <div class="row showing_fillter">
            <div class="col secand_fillter">
              <h4>SORT BY :</h4>
              <select id="sorted" name="sorted" class="selectpicker">
                  <option value="alphabet-asc">Username (A-Z)</option>
                  <option value="alphabet-desc">Username (Z-A)</option>
                  <option value="lastest">Lastest</option>
                  <option value="oldest">Oldest</option>
              </select>
            </div>
            <div class="col third_fillter">
                <h4>Show : </h4>
                <select id="n-per-page" name="n-per-page" class="selectpicker">
                    <option value="5">05</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
          </div>
  
<div class="row">
  
  <div id="account-list-partial-displayer" class="col">
        {{> accountList}}
  </div>
        
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script>
    $(document).ready(function(){
        
        $('.selectpicker').change(triggerAjaxFilter);

        $('#account-list-partial-displayer').on("click", '.pagination_area .pagination li a', (e) => {
            e.preventDefault();
            let classList = $(e.target).attr("class");
            let classArr = classList.split(" ");
            let pageNumber;
            let isNextOrPrevBtn = false;
            console.log(e.target);
            console.log(classArr);
            classArr.forEach(element => {
                if (element === "fa-angle-right" || element === "next") {
                    pageNumber = parseInt($('.pagination_area .pagination a.current').html()) + 1;
                    isNextOrPrevBtn = true;
                } else if (element === "fa-angle-left" || element === "prev") {
                    pageNumber = parseInt($('.pagination_area .pagination a.current').html()) - 1;
                    isNextOrPrevBtn = true;
                }
            })

            if (!isNextOrPrevBtn) {
                pageNumber = parseInt($(e.target).html());
            }
            console.log(pageNumber);
            let data = {
                sorted: $('#sorted').children("option:selected").val(),
                nPerPage: $('#n-per-page').children("option:selected").val(),
                pageNumber
            }
            sendRequest(data);
        });

        function triggerAjaxFilter() {
            let data = {
                sorted: $('#sorted').children("option:selected").val(),
                nPerPage: $('#n-per-page').children("option:selected").val(),
                pageNumber: 1
            }
            console.log(data);
            sendRequest(data);
            return;
        }
        
        function sendRequest(data) {
            $.post('/user', data, (result, status) => {
                //alert("Data: " + data + "\nStatus: " + status);
                //console.log(data);
                //Handlebars.registerPartial('productItems', '{{productItems}}');
                //productItems = data.productItems;

                //let productItemsPartial = Handlebars.partials[productItems];
                //console.log(productItemsPartial);
                //$('#product-items-partial-displayer').html(productItemsPartial(result));
                console.log(status);
                let source   = result.partials;
                
                console.log(source);
                let template = Handlebars.compile(source);
                //console.log(template);
                let htmlCompiled = template(result);
                //let htmlCompiled = Handlebars.template(template);
                //console.log(htmlCompiled);
                // you will now have some html that you will need to insert into your page
                document.getElementById("account-list-partial-displayer").innerHTML = htmlCompiled;
                
            });
            return;
        }
    });

    //});
    /*
    function submitForm() {
        form = document.getElementById('fillter-form');
        console.log(form);
        form.submit();
    }
    */
</script>