<link href="vendors/jquery-ui/jquery-ui.css" rel="stylesheet">
    <div class="container">
        <div class="single_c_title">
            <h2>Account List</h2>
        </div>    
          <div class="row mt-3 showing_fillter">
            <div class="col secand_fillter">
              <h4>SORT BY :</h4>
              <select id="sorted" name="sorted" class="selectpicker">
                  <option value="alphabet-asc">Username (A-Z)</option>
                  <option value="alphabet-desc">Username (Z-A)</option>
                  <option value="lastest">Lastest</option>
                  <option value="oldest">Oldest</option>
              </select>
            </div>
            <div class="col third_fillter">
                <h4>Show : </h4>
                <select id="n-per-page" name="n-per-page" class="selectpicker">
                    <option value="5">05</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div  class="col secand_fillter">
                <h4>Type : </h4>
                <select id="type-account" name="n-per-page" class="selectpicker">
                    <option value="user">User Accounts</option>
                    <option value="admin">Admin Accounts</option>
                </select>
            </div>
          </div>
  
<div class="row justify-content-center">
  
    <div id="loader" class="row" style="visibility: hidden; position: absolute;">
        <img class="col" src="/img/loading.gif"/>
    </div>

  <div id="account-list-partial-displayer" class="col">
        {{> accountList}}
  </div>
        
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script>
    $(document).ready(function(){

        $('.dropdown-menu #lock-button').click( e => {
            console.dir($(e.target).attr("title"));

            let type = $('#type-account').children("option:selected").val();

            if (type === "user")
            {
                $.post('/user/lock', {id: $(e.target).attr("title")}, (result, status) => {
                    triggerAjaxFilter();
                })
            } else if (type === "admin")
            {
                $.post('/admin/lock', {id: $(e.target).attr("title")}, (result, status) => {
                    triggerAjaxFilter();
                })
            }

        });

        $('.dropdown-menu #unlock-button').click( e => {
            console.dir($(e.target).attr("title"));

            let type = $('#type-account').children("option:selected").val();

            if (type === "user")
            {
                $.post('/user/unlock', {id: $(e.target).attr("title")}, (result, status) => {
                    triggerAjaxFilter();
                })
            } else if (type === "admin")
            {
                $.post('/admin/unlock', {id: $(e.target).attr("title")}, (result, status) => {
                    triggerAjaxFilter();
                })
            }
/*
            $.post('/user/unlock', {id: $(e.target).attr("title")}, (result, status) => {
            triggerAjaxFilter();
            })*/
        });
        
        $('.selectpicker').change(triggerAjaxFilter);

        $('#account-list-partial-displayer').on("click", '.pagination_area .pagination li a', (e) => {
            e.preventDefault();
            let classList = $(e.target).attr("class");
            let classArr = classList.split(" ");
            let pageNumber;
            let isNextOrPrevBtn = false;
            console.log(e.target);
            console.log(classArr);
            classArr.forEach(element => {
                if (element === "fa-angle-right" || element === "next") {
                    pageNumber = parseInt($('.pagination_area .pagination a.current').html()) + 1;
                    isNextOrPrevBtn = true;
                } else if (element === "fa-angle-left" || element === "prev") {
                    pageNumber = parseInt($('.pagination_area .pagination a.current').html()) - 1;
                    isNextOrPrevBtn = true;
                }
            })

            if (!isNextOrPrevBtn) {
                pageNumber = parseInt($(e.target).html());
            }
            console.log(pageNumber);
            let data = {
                sorted: $('#sorted').children("option:selected").val(),
                nPerPage: $('#n-per-page').children("option:selected").val(),
                typeAccount: $('#type-account').children("option:selected").val(),
                pageNumber
            }
            sendRequest(data);
        });

        function triggerAjaxFilter() {
            let data = {
                sorted: $('#sorted').children("option:selected").val(),
                nPerPage: $('#n-per-page').children("option:selected").val(),
                typeAccount: $('#type-account').children("option:selected").val(),
                pageNumber: 1
            }
            console.log(data);
            sendRequest(data);
            return;
        }
        
        function sendRequest(data) {
            $.post('/user', data, (result, status) => {
                
                //console.log(status);
                let source   = `<div class="table mt-4">
                                    <table style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Full Name</th>
                                            <th>Phone number</th>
                                            <th>Email</th>
                                            <th>State</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        \{\{#each accountListItems\}\}
                                        <tr>
                                            <td>\{\{_id\}\}</td>
                                            <td>\{\{username\}\}</td>
                                            <td>\{\{name\}\}</td>
                                            <td>\{\{phone\}\}</td>
                                            <td>\{\{email\}\}</td>
                                            <td>
                                            \{\{#if isLocked \}\}
                                                <img style="width:20px;height:20px" src="/img/padlock.png" />
                                            \{\{/if\}\}
                                            </td>
                                            <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light btn-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/img/icon/more.png" style="width:15px;height:15px" />
                                                </button>
                                                <!--<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ***
                                                </button> -->
                                            <div class="dropdown-menu">
                                                \{\{#if isAdminAccount\}\}
                                                    <a class="dropdown-item" href="/admin/\{\{_id\}\}">Detail</a>
                                                \{\{else\}\}
                                                    <a class="dropdown-item" href="/user/\{\{_id\}\}">Detail</a>
                                                \{\{/if\}\}

                                                \{\{#if isLocked \}\}
                                                        <button title="\{\{_id\}\}" style="cursor:pointer;" class="dropdown-item text-danger" id="unlock-button">Unlock</button>
                                                \{\{else\}\}
                                                    <button title="\{\{_id\}\}" style="cursor:pointer;" class="dropdown-item text-danger" id="lock-button">Lock</button>
                                                \{\{/if\}\}


                                            </div>
                                            </div>
                                            </td>
                                        </tr>              
                                        \{\{/each\}\}
                                        </tbody>
                                    </table>
                                    </div>
                                    <nav aria-label="Page navigation example" class="pagination_area">
                                    <ul class="pagination" id="pagination">
                                        \{\{#if pageInfo.isFirstPage \}\}
                                            <!-- Do nothing -->
                                        \{\{else\}\}
                                            <li class="page-item prev"><a class="page-link prev" ><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                        \{\{/if\}\}

                                        \{\{#each pageInfo.pageList\}\}
                                            \{\{#if this.isCurrentPage\}\}
                                                <li class="page-item current"><a class="page-link current" >\{\{this.index\}\}</a></li>
                                            \{\{else\}\}
                                                <li class="page-item"><a class="page-link" >\{\{this.index\}\}</a></li>
                                            \{\{/if\}\}
                                        \{\{/each\}\}
                                        
                                        \{\{#if pageInfo.isLastPage \}\}
                                            <!-- Do nothing -->
                                        \{\{else\}\}
                                            <li class="page-item next"><a class="page-link next" ><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                        \{\{/if\}\}
                                    </ul>
                                </nav>
                            </div>
                            `;
                
                //console.log(source);
                let template = Handlebars.compile(source);
                let htmlCompiled = template(result);
                document.getElementById("account-list-partial-displayer").innerHTML = htmlCompiled;
                
            });
            return;
        }

        $(document).ajaxStart(() => {
            $("#account-list-partial-displayer").html("");
            $("#account-list-partial-displayer").css("position", "absolute");
                // Show image container
                $("#loader").css("visibility", "visible");
                $("#loader").css("position", "relative");
            });
            $(document).ajaxComplete(() => {
                $("#account-list-partial-displayer").css("position", "relative");
                // Hide image container
                $("#loader").css("visibility", "hidden");
                $("#loader").css("position", "absolute");

                $('.dropdown-menu #lock-button').click( e => {
                    console.dir($(e.target).attr("title"));

                    let type = $('#type-account').children("option:selected").val();

                    if (type === "user")
                    {
                        $.post('/user/lock', {id: $(e.target).attr("title")}, (result, status) => {
                                triggerAjaxFilter();
                        })
                    } else if (type === "admin")
                    {
                        $.post('/admin/lock', {id: $(e.target).attr("title")}, (result, status) => {
                            console.log(result);
                            if (result.status)
                                triggerAjaxFilter();
                            else
                                location.reload();
                        })
                    }
                });

                $('.dropdown-menu #unlock-button').click( e => {
                    console.dir($(e.target).attr("title"));

                    let type = $('#type-account').children("option:selected").val();

                    if (type === "user")
                    {
                        $.post('/user/unlock', {id: $(e.target).attr("title")}, (result, status) => {
                            triggerAjaxFilter();
                        })
                    } else if (type === "admin")
                    {
                        $.post('/admin/unlock', {id: $(e.target).attr("title")}, (result, status) => {
                            if (result.status)
                                triggerAjaxFilter();
                            else
                                location.reload();
                        })
                    }
                });

            });
        });

</script>
